{% extends "base.html" %}
{% block title %}Search Result Table{% endblock %}
{% block content %}
    <h2> Search result for "{{ search }}"</h2>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Movie Title</th>
                <td>{{ movie.title }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ movie.year }}</td>
            </tr>
            <tr>
                <th>Imdb ID</th>
                <td>{{ movie.imdb_id }}</td>
            </tr>
            <tr>
                <th>Run Time</th>
                <td>{% if movie.runtime_minutes %}{{ movie.runtime_minutes }} minutes {% endif %}</td>
            </tr>
            <tr>
                <th>Genres</th>
                <td>{% for genre in movie.genres.all %}{{ genre.name }}, {% endfor %}</td>
            </tr>
            <tr>
                <th>Plot</th>
                <td>{{ movie.plot }}</td>
            </tr>
        </table>
{% endblock %}